%p
	= "Hi there @#{@user_nick}!"
%p I see you've already tweeted this beautiful phrase:
%p
	= @user_tweet
%p Thank you for your tweet.
%p Would like to give someone else a chance to tweet?
%p
	Feel free to
	%a{ :href => "/logout" } logout
	to go back.
