.blob-norm
	.content
		%h1 OneTweet
		%p I see you've already tweeted your onetweet:

.blob-msg
	.content
		#message
			= "\"#{@user_tweet}\" - @#{@user_nick}"

.blob-norm
	.content
		%p
			Want to let someone else onetweet?
			%a{ :href => "/logout" } logout
			to go back.

		= haml :footer
