%p
	Curious about what other's are tweeting? Follow <a href="https://twitter.com/onetweetnotypos">@onetweetnotypos</a>.
%p
	Want to contribute? We're at <a href="https://github.com/mdayaram/notypos">github</a>.
