.owner
	%p
		= @greets
	%p
		What would you say if you only had one tweet?
	%p
		Can't think of anything? Need some time?
	%p
		That's ok, it's good to stop and think about it.  Why not take some time to ponder and come back here when you feel you've found what you want to say?
	%p
		%a{ :href => "/auth/twitter" } login

	.tweets
		- @tweets.each do |t|
			.tweet= "#{t.user}: #{t.message}"
