!!!
%html
	%head
		%meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
		%meta{:name => "lang", :content => "en"}
		%title No Typos, Please
		%link{:href=>'/styles/main.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
	%body
		.content
			= yield

			.tweets
				- @tweets.each do |t|
					.tweet= "#{t.user}: #{t.message}"
