body {
  font-family: Georgia, serif;
  text-align: center;
}


a { color: #000; }
a:link { color: #000; }
a:visited { color: #000; }
a:hover { color: #000; }
a:active { color: #000; }

.owner > a { text-decoration: none; color: #0084B4; }
.owner > a:link { text-decoration: none; color: #0084B4; }
.owner > a:visited { text-decoration: none; color: #0084B4; }
.owner > a:hover { text-decoration: none; color: #0084B4; }
.owner > a:active { text-decoration: none; color: #0084B4; }
