body {
  font-family: Georgia, serif;
  text-align: center;
}


a { color: #000; }
a:link { color: #000; }
a:visited { color: #000; }
a:hover { color: #000; }
a:active { color: #000; }

.content > a { text-decoration: none; color: #0084B4; }
.content > a:link { text-decoration: none; color: #0084B4; }
.content > a:visited { text-decoration: none; color: #0084B4; }
.content > a:hover { text-decoration: none; color: #0084B4; }
.content > a:active { text-decoration: none; color: #0084B4; }


footer {
  background-color: #ffffff;
  color: #999999;
  text-shadow: 0.1em 0.1em #efefef;
  border-top: solid 1px rgba(0,0,0,.25);
  text-align: center;
  line-height: 2;
  font-size: 10px;
  font-family: sans-serif;
  clear: both;
  padding: 10px 0px;
  margin-top: 20px;
  p {
    padding: 0px;
    margin: 0px;
  }
}
