.blob-norm
	.content
		%h1
			OneTweet

.blob-msg
	%form{ :action => "/tweet", :method => "post" }
		%textarea{ :id => "message", :name => "message", :autofocus => "autofocus", :placeholder => "What would you say if you only had one tweet?" }
			= user_draft
		%br
		- if logged_in?
			%input{ :id => "submit", :type => "submit", :value => "Tweet as @#{@user_nick}" }
		- else
			%input{ :id => "submit", :type => "submit", :value => "Login & Tweet" }

.blob-norm
	.content
		%p
			Can't think of anything? Need some time?  That's okay, come back after you've found what you want to say.

		= haml :footer
