%p
	- if logged_in?
		= "Hi there #{@user_nick}!"
	- else
		= "Hi there!"
%p
	What would you say if you only had one tweet?

%p
	%form{ :action => "/tweet", :method => "post" }
		%input{ :id => "message", :name => "message", :type => "text", :value => user_draft }
		%input{ :type => "submit", :value => "tweet!" }

%p
	Can't think of anything? Need some time?

%p
	That's okay, it's good to stop and think about it.  Go ahead, take some time to ponder it.  Come back after you've found what you want to say.

